Host tl-luis.github.com
	HostName github.com
	User git
	AddKeysToAgent yes
	{{ if eq .chezmoi.os "darwin" }}
	UseKeychain yes
	{{ end }}
	IdentityFile ~/.ssh/tl_luis

Host github.com
	HostName github.com
	User git
	AddKeysToAgent yes
	{{ if eq .chezmoi.os "darwin" }}
	UseKeychain yes
	{{ end }}
	IdentityFile ~/.ssh/id_ed25519

